{% extends "HomeApp/base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'HomeApp/myCSS/productos.css' %}">
<!-- <script type="text/javascript" src="{% static 'HomeApp/js/Propios/carousel.js' %}"></script> -->

<div class="div-content">
    <!-- <h1>Lonas publicitarias</h1> -->

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{% static 'HomeApp/Images/Productos/19.jpg' %}" alt="Lonas">
          <div class="carousel-caption d-none d-md-block">
            <h1>Lonas</h1>
            <p>...</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'HomeApp/Images/Productos/tazas.jpg' %}" alt="tazas">
          <div class="carousel-caption d-none d-md-block">
            <h1>Subimacion</h1>
            <p>...</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'HomeApp/Images/Productos/tequileros.jpg' %}" alt="tequileros">
          <div class="carousel-caption d-none d-md-block">
            <h1>Sublimacion</h1>
            <p>...</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'HomeApp/Images/Productos/libros.jpg' %}" alt="libros">
          <div class="carousel-caption d-none d-md-block">
            <h1>Libros</h1>
            <p>...</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{% static 'HomeApp/Images/Productos/1.jpg' %}" alt="First slide" height="450">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'HomeApp/Images/Productos/2.jpg' %}" alt="Second slide" height="450">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'HomeApp/Images/Productos/3.jpg' %}" alt="Third slide" height="450">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> -->
</div>

{% endblock %}